<div class="container container-fluid">
    <div class="row mv">
        <div class="col-sm-4">
            <button type="button" class="btn btn-info"><em class="ion-plus mr-sm"></em>Add Project</button>
        </div>
        <div class="col-sm-8 text-right hidden-xs">
            <form class="form-inline">
                <div class="form-group mr">
                    <label class="mr"><small>Status</small></label>
                    <select class="form-control input-sm">
                        <option>Completed</option>
                        <option>Active</option>
                        <option>Paused</option>
                        <option>Canceled</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="mr"><small>Sort by</small></label>
                    <select class="form-control input-sm">
                        <option>Name</option>
                        <option>Status</option>
                        <option>Start Date</option>
                        <option>Finish Date</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <!-- Project card-->
            <div class="card">
                <div class="card-heading">
                    <div class="pull-right">
                        <div class="label label-info">active</div>
                    </div>
                    <div class="card-title">Project #A</div><small>Web development</small>
                </div>
                <div class="card-body">
                    <p><strong>Description:</strong></p>
                    <div class="pl-lg mb-lg">Ut turpis urna, tristique sed adipiscing nec, luctus quis leo. Fusce nec volutpat ante.</div>
                    <p><strong>Members:</strong></p>
                    <div class="pl-lg mb-lg">
                        <a href class="inline"><img src="assets/img/user/02.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/04.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/05.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/06.jpg" alt="project member" class="img-circle thumb32" /></a>
                    </div>
                    <p><strong>Activity:</strong></p>
                    <div class="pl-lg">
                        <ul class="list-inline m0">
                            <li class="mr">
                                <h4 class="m0">17</h4>
                                <p class="text-muted">Issues</p>
                            </li>
                            <li class="mr">
                                <h4 class="m0">780</h4>
                                <p class="text-muted">Posts</p>
                            </li>
                            <li>
                                <h4 class="m0">23</h4>
                                <p class="text-muted">Tests</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer">
                    <p><small>56%</small></p>
                    <progressbar value="56" type="info" class="progress-xs m0"></progressbar>
                </div>
            </div>
            <!-- end Project card-->
        </div>
        <div class="col-md-6 col-lg-4">
            <!-- Project card-->
            <div class="card">
                <div class="card-heading">
                    <div class="pull-right">
                        <div class="label label-info">active</div>
                    </div>
                    <div class="card-title">Project #B</div><small>Web development</small>
                </div>
                <div class="card-body">
                    <p><strong>Description:</strong></p>
                    <div class="pl-lg mb-lg">Ut turpis urna, tristique sed adipiscing nec, luctus quis leo. Fusce nec volutpat ante.</div>
                    <p><strong>Members:</strong></p>
                    <div class="pl-lg mb-lg">
                        <a href class="inline"><img src="assets/img/user/04.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/03.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/07.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/03.jpg" alt="project member" class="img-circle thumb32" /></a>
                    </div>
                    <p><strong>Activity:</strong></p>
                    <div class="pl-lg">
                        <ul class="list-inline m0">
                            <li class="mr">
                                <h4 class="m0">17</h4>
                                <p class="text-muted">Issues</p>
                            </li>
                            <li class="mr">
                                <h4 class="m0">780</h4>
                                <p class="text-muted">Posts</p>
                            </li>
                            <li>
                                <h4 class="m0">23</h4>
                                <p class="text-muted">Tests</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer">
                    <p><small>56%</small></p>
                    <progressbar value="56" type="danger" class="progress-xs m0"></progressbar>
                </div>
            </div>
            <!-- end Project card-->
        </div>
        <div class="col-md-6 col-lg-4">
            <!-- Project card-->
            <div class="card">
                <div class="card-heading">
                    <div class="pull-right">
                        <div class="label label-warning">paused</div>
                    </div>
                    <div class="card-title">Project #C</div><small>Web development</small>
                </div>
                <div class="card-body">
                    <p><strong>Description:</strong></p>
                    <div class="pl-lg mb-lg">Ut turpis urna, tristique sed adipiscing nec, luctus quis leo. Fusce nec volutpat ante.</div>
                    <p><strong>Members:</strong></p>
                    <div class="pl-lg mb-lg">
                        <a href class="inline"><img src="assets/img/user/04.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/03.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/07.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/03.jpg" alt="project member" class="img-circle thumb32" /></a>
                    </div>
                    <p><strong>Activity:</strong></p>
                    <div class="pl-lg">
                        <ul class="list-inline m0">
                            <li class="mr">
                                <h4 class="m0">17</h4>
                                <p class="text-muted">Issues</p>
                            </li>
                            <li class="mr">
                                <h4 class="m0">780</h4>
                                <p class="text-muted">Posts</p>
                            </li>
                            <li>
                                <h4 class="m0">23</h4>
                                <p class="text-muted">Tests</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer">
                    <p><small>64%</small></p>
                    <progressbar value="64" type="success" class="progress-xs m0"></progressbar>
                </div>
            </div>
            <!-- end Project card-->
        </div>
        <div class="col-md-6 col-lg-4">
            <!-- Project card-->
            <div class="card">
                <div class="card-heading">
                    <div class="pull-right">
                        <div class="label label-info">active</div>
                    </div>
                    <div class="card-title">Project #D</div><small>Web development</small>
                </div>
                <div class="card-body">
                    <p><strong>Description:</strong></p>
                    <div class="pl-lg mb-lg">Ut turpis urna, tristique sed adipiscing nec, luctus quis leo. Fusce nec volutpat ante.</div>
                    <p><strong>Members:</strong></p>
                    <div class="pl-lg mb-lg">
                        <a href class="inline"><img src="assets/img/user/03.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/07.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/06.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/05.jpg" alt="project member" class="img-circle thumb32" /></a>
                    </div>
                    <p><strong>Activity:</strong></p>
                    <div class="pl-lg">
                        <ul class="list-inline m0">
                            <li class="mr">
                                <h4 class="m0">17</h4>
                                <p class="text-muted">Issues</p>
                            </li>
                            <li class="mr">
                                <h4 class="m0">780</h4>
                                <p class="text-muted">Posts</p>
                            </li>
                            <li>
                                <h4 class="m0">23</h4>
                                <p class="text-muted">Tests</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer">
                    <p><small>36%</small></p>
                    <progressbar value="36" type="warning" class="progress-xs m0"></progressbar>
                </div>
            </div>
            <!-- end Project card-->
        </div>
        <div class="col-md-6 col-lg-4">
            <!-- Project card-->
            <div class="card">
                <div class="card-heading">
                    <div class="pull-right">
                        <div class="label label-info">active</div>
                    </div>
                    <div class="card-title">Project #A</div><small>Web development</small>
                </div>
                <div class="card-body">
                    <p><strong>Description:</strong></p>
                    <div class="pl-lg mb-lg">Ut turpis urna, tristique sed adipiscing nec, luctus quis leo. Fusce nec volutpat ante.</div>
                    <p><strong>Members:</strong></p>
                    <div class="pl-lg mb-lg">
                        <a href class="inline"><img src="assets/img/user/02.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/04.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/05.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/06.jpg" alt="project member" class="img-circle thumb32" /></a>
                    </div>
                    <p><strong>Activity:</strong></p>
                    <div class="pl-lg">
                        <ul class="list-inline m0">
                            <li class="mr">
                                <h4 class="m0">17</h4>
                                <p class="text-muted">Issues</p>
                            </li>
                            <li class="mr">
                                <h4 class="m0">780</h4>
                                <p class="text-muted">Posts</p>
                            </li>
                            <li>
                                <h4 class="m0">23</h4>
                                <p class="text-muted">Tests</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer">
                    <p><small>56%</small></p>
                    <progressbar value="56" type="info" class="progress-xs m0"></progressbar>
                </div>
            </div>
            <!-- end Project card-->
        </div>
        <div class="col-md-6 col-lg-4">
            <!-- Project card-->
            <div class="card">
                <div class="card-heading">
                    <div class="pull-right">
                        <div class="label label-success">completed</div>
                    </div>
                    <div class="card-title">Project #B</div><small>Web development</small>
                </div>
                <div class="card-body">
                    <p><strong>Description:</strong></p>
                    <div class="pl-lg mb-lg">Ut turpis urna, tristique sed adipiscing nec, luctus quis leo. Fusce nec volutpat ante.</div>
                    <p><strong>Members:</strong></p>
                    <div class="pl-lg mb-lg">
                        <a href class="inline"><img src="assets/img/user/04.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/03.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/07.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/03.jpg" alt="project member" class="img-circle thumb32" /></a>
                    </div>
                    <p><strong>Activity:</strong></p>
                    <div class="pl-lg">
                        <ul class="list-inline m0">
                            <li class="mr">
                                <h4 class="m0">17</h4>
                                <p class="text-muted">Issues</p>
                            </li>
                            <li class="mr">
                                <h4 class="m0">780</h4>
                                <p class="text-muted">Posts</p>
                            </li>
                            <li>
                                <h4 class="m0">23</h4>
                                <p class="text-muted">Tests</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer">
                    <p><small>100%</small></p>
                    <progressbar value="100" type="success" class="progress-xs m0"></progressbar>
                </div>
            </div>
            <!-- end Project card-->
        </div>
        <div class="col-md-6 col-lg-4">
            <!-- Project card-->
            <div class="card">
                <div class="card-heading">
                    <div class="pull-right">
                        <div class="label label-warning">paused</div>
                    </div>
                    <div class="card-title">Project #C</div><small>Web development</small>
                </div>
                <div class="card-body">
                    <p><strong>Description:</strong></p>
                    <div class="pl-lg mb-lg">Ut turpis urna, tristique sed adipiscing nec, luctus quis leo. Fusce nec volutpat ante.</div>
                    <p><strong>Members:</strong></p>
                    <div class="pl-lg mb-lg">
                        <a href class="inline"><img src="assets/img/user/04.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/03.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/07.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/03.jpg" alt="project member" class="img-circle thumb32" /></a>
                    </div>
                    <p><strong>Activity:</strong></p>
                    <div class="pl-lg">
                        <ul class="list-inline m0">
                            <li class="mr">
                                <h4 class="m0">17</h4>
                                <p class="text-muted">Issues</p>
                            </li>
                            <li class="mr">
                                <h4 class="m0">780</h4>
                                <p class="text-muted">Posts</p>
                            </li>
                            <li>
                                <h4 class="m0">23</h4>
                                <p class="text-muted">Tests</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer">
                    <p><small>64%</small></p>
                    <progressbar value="64" type="success" class="progress-xs m0"></progressbar>
                </div>
            </div>
            <!-- end Project card-->
        </div>
        <div class="col-md-6 col-lg-4">
            <!-- Project card-->
            <div class="card">
                <div class="card-heading">
                    <div class="pull-right">
                        <div class="label label-info">active</div>
                    </div>
                    <div class="card-title">Project #D</div><small>Web development</small>
                </div>
                <div class="card-body">
                    <p><strong>Description:</strong></p>
                    <div class="pl-lg mb-lg">Ut turpis urna, tristique sed adipiscing nec, luctus quis leo. Fusce nec volutpat ante.</div>
                    <p><strong>Members:</strong></p>
                    <div class="pl-lg mb-lg">
                        <a href class="inline"><img src="assets/img/user/03.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/07.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/06.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/05.jpg" alt="project member" class="img-circle thumb32" /></a>
                    </div>
                    <p><strong>Activity:</strong></p>
                    <div class="pl-lg">
                        <ul class="list-inline m0">
                            <li class="mr">
                                <h4 class="m0">17</h4>
                                <p class="text-muted">Issues</p>
                            </li>
                            <li class="mr">
                                <h4 class="m0">780</h4>
                                <p class="text-muted">Posts</p>
                            </li>
                            <li>
                                <h4 class="m0">23</h4>
                                <p class="text-muted">Tests</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer">
                    <p><small>36%</small></p>
                    <progressbar value="36" type="warning" class="progress-xs m0"></progressbar>
                </div>
            </div>
            <!-- end Project card-->
        </div>
        <div class="col-md-6 col-lg-4">
            <!-- Project card-->
            <div class="card">
                <div class="card-heading">
                    <div class="pull-right">
                        <div class="label label-info">active</div>
                    </div>
                    <div class="card-title">Project #A</div><small>Web development</small>
                </div>
                <div class="card-body">
                    <p><strong>Description:</strong></p>
                    <div class="pl-lg mb-lg">Ut turpis urna, tristique sed adipiscing nec, luctus quis leo. Fusce nec volutpat ante.</div>
                    <p><strong>Members:</strong></p>
                    <div class="pl-lg mb-lg">
                        <a href class="inline"><img src="assets/img/user/02.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/04.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/05.jpg" alt="project member" class="img-circle thumb32" /></a>
                        <a href class="inline"><img src="assets/img/user/06.jpg" alt="project member" class="img-circle thumb32" /></a>
                    </div>
                    <p><strong>Activity:</strong></p>
                    <div class="pl-lg">
                        <ul class="list-inline m0">
                            <li class="mr">
                                <h4 class="m0">17</h4>
                                <p class="text-muted">Issues</p>
                            </li>
                            <li class="mr">
                                <h4 class="m0">780</h4>
                                <p class="text-muted">Posts</p>
                            </li>
                            <li>
                                <h4 class="m0">23</h4>
                                <p class="text-muted">Tests</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer">
                    <p><small>56%</small></p>
                    <progressbar value="56" type="info" class="progress-xs m0"></progressbar>
                </div>
            </div>
            <!-- end Project card-->
        </div>
    </div>
</div>
