<div class="container container-md">
    <div class="text-center mb-lg pb-lg">
        <div class="h2 text-bold">Start your own app today</div>
        <p>Demonstration plans in different options to fit your project</p>
    </div>
    <div class="row">
        <!-- PLAN-->
        <div class="col-sm-4">
            <div class="card b">
                <div class="card-body text-center bb bg-pink-300 text-white">
                    <div class="text-bold">STARTER</div>
                    <h3 class="mv-lg"><sup>$</sup><span class="text-lg">17</span><span class="text-xs">/mo</span></h3>
                </div>
                <div class="card-body text-center">
                    <p class="mb-lg"><span>Unlimited Styles</span></p>
                    <p class="mb-lg"><span>RTL &amp; Translation</span></p>
                    <p class="mb-lg"><span>Customer support</span></p>
                    <p class="mb-lg"><span>Free Updates</span></p>
                    <p class="mb-lg"><span>Limited to one client</span></p>
                    <p class="mb-lg"><span>Multiple installation</span></p>
                    <p class="mb-lg"><span>Not ready for resale</span></p>
                </div>
                <div class="card-body text-center bt"><a href class="btn btn-default btn-flat">SELECT THIS PLAN</a></div>
            </div>
        </div>
        <!-- PLAN-->
        <div class="col-sm-4">
            <div class="card b">
                <div class="card-body text-center bg-info">
                    <div class="text-bold">IDEAL</div>
                    <h3 class="mv-lg"><sup>$</sup><span class="text-lg">49</span><span class="text-xs">/mo</span></h3>
                </div>
                <div class="card-body text-center">
                    <p class="mb-lg"><span>Unlimited Styles</span></p>
                    <p class="mb-lg"><span>RTL &amp; Translation</span></p>
                    <p class="mb-lg"><span>Customer support</span></p>
                    <p class="mb-lg"><span>Free Updates</span></p>
                    <p class="mb-lg"><span>Limited to one client</span></p>
                    <p class="mb-lg"><span>Multiple installation</span></p>
                    <p class="mb-lg"><span>Not ready for resale</span></p>
                </div>
                <div class="card-body text-center bt"><a href class="btn btn-info btn-raised">BEST OPTION</a></div>
            </div>
        </div>
        <!-- PLAN-->
        <div class="col-sm-4">
            <div class="card b">
                <div class="card-body text-center bb bg-deep-purple-500">
                    <div class="text-bold">PREMIUM</div>
                    <h3 class="mv-lg"><sup>$</sup><span class="text-lg">95</span><span class="text-xs">/mo</span></h3>
                </div>
                <div class="card-body text-center">
                    <p class="mb-lg"><span>Unlimited Styles</span></p>
                    <p class="mb-lg"><span>RTL &amp; Translation</span></p>
                    <p class="mb-lg"><span>Customer support</span></p>
                    <p class="mb-lg"><span>Free Updates</span></p>
                    <p class="mb-lg"><span>Limited to one client</span></p>
                    <p class="mb-lg"><span>Multiple installation</span></p>
                    <p class="mb-lg"><span>Ready for resale*</span></p>
                </div>
                <div class="card-body text-center bt"><a href class="btn btn-default btn-flat">SELECT THIS PLAN</a></div>
            </div>
        </div>
    </div>
    <div class="text-center mb-lg pb-lg">
        <div class="h2 text-bold">Alternative setup</div>
    </div>
    <div class="row">
        <!-- PLAN-->
        <div class="col-sm-4">
            <div class="card b">
                <div class="card-body text-center bb text-danger"><em class="ion-star icon-2x"></em>
                    <h3 class="mv-lg text-bold"><sup>$</sup><span class="text-lg">17</span><span class="text-xs">/mo</span></h3>
                </div>
                <div class="card-body text-center">
                    <p class="mb-lg"><span>Unlimited Styles</span></p>
                    <p class="mb-lg"><span>RTL &amp; Translation</span></p>
                    <p class="mb-lg"><span>Customer support</span></p>
                    <p class="mb-lg"><span>Free Updates</span></p>
                    <p class="mb-lg"><span>Limited to one client</span></p>
                    <p class="mb-lg"><span>Multiple installation</span></p>
                    <p class="mb-lg"><span>Not ready for resale</span></p>
                </div>
                <div class="card-body text-center bt text-info"><a href class="btn btn-danger btn-flat">SELECT THIS PLAN</a></div>
            </div>
        </div>
        <!-- PLAN-->
        <div class="col-sm-4">
            <div class="card b">
                <div class="card-body text-center bb text-success"><em class="ion-help-buoy icon-2x"></em>
                    <h3 class="mv-lg text-bold"><sup>$</sup><span class="text-lg">49</span><span class="text-xs">/mo</span></h3>
                </div>
                <div class="card-body text-center">
                    <p class="mb-lg"><span>Unlimited Styles</span></p>
                    <p class="mb-lg"><span>RTL &amp; Translation</span></p>
                    <p class="mb-lg"><span>Customer support</span></p>
                    <p class="mb-lg"><span>Free Updates</span></p>
                    <p class="mb-lg"><span>Limited to one client</span></p>
                    <p class="mb-lg"><span>Multiple installation</span></p>
                    <p class="mb-lg"><span>Not ready for resale</span></p>
                </div>
                <div class="card-body text-center bt"><a href class="btn btn-success btn-raised">BEST OPTION</a></div>
            </div>
        </div>
        <!-- PLAN-->
        <div class="col-sm-4">
            <div class="card b">
                <div class="card-body text-center bb text-warning"><em class="ion-wand icon-2x"></em>
                    <h3 class="mv-lg text-bold"><sup>$</sup><span class="text-lg">95</span><span class="text-xs">/mo</span></h3>
                </div>
                <div class="card-body text-center">
                    <p class="mb-lg"><span>Unlimited Styles</span></p>
                    <p class="mb-lg"><span>RTL &amp; Translation</span></p>
                    <p class="mb-lg"><span>Customer support</span></p>
                    <p class="mb-lg"><span>Free Updates</span></p>
                    <p class="mb-lg"><span>Limited to one client</span></p>
                    <p class="mb-lg"><span>Multiple installation</span></p>
                    <p class="mb-lg"><span>Ready for resale*</span></p>
                </div>
                <div class="card-body text-center bt"><a href class="btn btn-warning btn-flat">SELECT THIS PLAN</a></div>
            </div>
        </div>
    </div>
</div>
