<div class="container-fluid">
    <h5 class="mt0">Loaders.css</h5>
    <p class="mb-lg">Delightful and performance-focused pure css loading animations.</p>
    <div class="row loader-primary">
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">ball-pulse</div>
                <div class="loader-demo">
                    <div class="loader-inner ball-pulse"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">ball-grid-pulse</div>
                <div class="loader-demo">
                    <div class="loader-inner ball-grid-pulse"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">ball-clip-rotate</div>
                <div class="loader-demo">
                    <div class="loader-inner ball-clip-rotate"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">ball-clip-rotate-pulse</div>
                <div class="loader-demo">
                    <div class="loader-inner ball-clip-rotate-pulse"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">square-spin</div>
                <div class="loader-demo">
                    <div class="loader-inner square-spin"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">ball-clip-rotate-multiple</div>
                <div class="loader-demo">
                    <div class="loader-inner ball-clip-rotate-multiple"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">ball-pulse-rise</div>
                <div class="loader-demo">
                    <div class="loader-inner ball-pulse-rise"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">ball-rotate</div>
                <div class="loader-demo">
                    <div class="loader-inner ball-rotate"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">cube-transition</div>
                <div class="loader-demo">
                    <div class="loader-inner cube-transition"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">ball-zig-zag</div>
                <div class="loader-demo">
                    <div class="loader-inner ball-zig-zag"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">ball-zig-zag-deflect</div>
                <div class="loader-demo">
                    <div class="loader-inner ball-zig-zag-deflect"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">ball-triangle-path</div>
                <div class="loader-demo">
                    <div class="loader-inner ball-triangle-path"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">ball-scale</div>
                <div class="loader-demo">
                    <div class="loader-inner ball-scale"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">line-scale</div>
                <div class="loader-demo">
                    <div class="loader-inner line-scale"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">line-scale-party</div>
                <div class="loader-demo">
                    <div class="loader-inner line-scale-party"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">ball-scale-multiple</div>
                <div class="loader-demo">
                    <div class="loader-inner ball-scale-multiple"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">ball-pulse-sync</div>
                <div class="loader-demo">
                    <div class="loader-inner ball-pulse-sync"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">ball-beat</div>
                <div class="loader-demo">
                    <div class="loader-inner ball-beat"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">line-scale-pulse-out</div>
                <div class="loader-demo">
                    <div class="loader-inner line-scale-pulse-out"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">line-scale-pulse-out-rapid</div>
                <div class="loader-demo">
                    <div class="loader-inner line-scale-pulse-out-rapid"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">ball-scale-ripple</div>
                <div class="loader-demo">
                    <div class="loader-inner ball-scale-ripple"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">ball-scale-ripple-multiple</div>
                <div class="loader-demo">
                    <div class="loader-inner ball-scale-ripple-multiple"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">ball-spin-fade-loader</div>
                <div class="loader-demo">
                    <div class="loader-inner ball-spin-fade-loader"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">line-spin-fade-loader</div>
                <div class="loader-demo">
                    <div class="loader-inner line-spin-fade-loader"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">triangle-skew-spin</div>
                <div class="loader-demo">
                    <div class="loader-inner triangle-skew-spin"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">pacman</div>
                <div class="loader-demo">
                    <div class="loader-inner pacman"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">ball-grid-beat</div>
                <div class="loader-demo">
                    <div class="loader-inner ball-grid-beat"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="card">
                <div class="card-heading">semi-circle-spin</div>
                <div class="loader-demo">
                    <div class="loader-inner semi-circle-spin"></div>
                </div>
            </div>
        </div>
    </div>
</div>
