<div class="container container-md">
    <div class="card">
        <div class="card-body">
            <h2 class="text-center">Big card with cards</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-heading">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                            </div>
                            <div class="card-title">Morbi a odio</div>
                        </div>
                        <div class="card-body">Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-heading">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                            </div>
                            <div class="card-title">Morbi a odio</div>
                        </div>
                        <div class="card-body">Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-heading">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                            </div>
                            <div class="card-title">Morbi a odio</div>
                        </div>
                        <div class="card-body">Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-heading">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                            </div>
                            <div class="card-title">Morbi a odio</div>
                        </div>
                        <div class="card-body">Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2 class="text-center">Big card with cards</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-heading">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                            </div>
                            <div class="card-title">Morbi a odio</div>
                        </div>
                        <div class="card-body">Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-heading">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                            </div>
                            <div class="card-title">Morbi a odio</div>
                        </div>
                        <div class="card-body">Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-heading">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                            </div>
                            <div class="card-title">Morbi a odio</div>
                        </div>
                        <div class="card-body">Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-heading">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                            </div>
                            <div class="card-title">Morbi a odio</div>
                        </div>
                        <div class="card-body">Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
