/**
 * Flot Chart
 */

@import '../../../shared/styles/common/variables';
@import '../../../shared/styles/common/mixins';

.flot-chart {
    display: block;
    width: 100%;
    font-size: 12px;
    @media #{$min-tablet} {
        font-size: 14px;
    }
    .legend {
        > div,
        > table {
            top: 0 !important;
            background-color: transparent !important;
            color: inherit !important;
        }
        > table tr td {
            padding: 3px;
        }
        > table tr td:first-child {
            padding-left: 3px;
        }
        > table tr td:last-child {
            padding-right: 3px;
        }
        >table tr+tr td {
            padding-top: 0;
        }

        > div:first-child {
            border-color: rgba(0,0,0,.1) !important;
        }
        .legendColorBox > div,
        .legendColorBox > div > div {
            border-radius: 400px;
        }
        .legendColorBox > div {
            border-color: rgba($gray-base,.46) !important;
        }
    }
    &.flot-legend-left {
        .legend {
            > div,
            > table {
                left: 0 !important;
            }
        }
    }
    &:not([height]) {
        height: 120px;
    }
    &.flot-chart-lg {
        height: 275px;
    }
    &.flot-chart-md {
        height: 190px;
    }
    &.flot-chart-sm {
        height: 80px;
    }
    &.flot-chart-xs {
        height: 60px;
    }
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

// Labels for PIE CHARTS
.flot-pie-label {
    padding: 3px 5px;
    font-size: 10px;
    text-align: center;
    color:#fff;
}

// Tooltip style
// --------------------------------------
#flotTip,
.flotTip {
    position: relative;
    padding: 8px 16px;
    font-size: 13px !important;
    font-weight: 600;
    border-radius: 2px !important;
    border-color: transparent !important;
    background-color: $gray-dark !important;
    color: #fff;
    z-index:5;
}
