<div class="container container-lg">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-heading">Image with text items</div>
                <div class="mda-list">
                    <div class="mda-list-item"><img src="assets/img/user/01.jpg" alt="List user" class="mda-list-item-img" />
                        <div class="mda-list-item-text">
                            <h3><a href="#">Eric Graves</a></h3>
                            <h4>Brunch this weekend?</h4>
                            <p> I&apos;ll be in your neighborhood doing errands</p>
                        </div>
                    </div>
                    <div class="mda-list-item"><img src="assets/img/user/02.jpg" alt="List user" class="mda-list-item-img" />
                        <div class="mda-list-item-text">
                            <h3><a href="#">Catherine Crawford</a></h3>
                            <h4>Brunch this weekend?</h4>
                            <p> I&apos;ll be in your neighborhood doing errands</p>
                        </div>
                    </div>
                    <div class="mda-list-item"><img src="assets/img/user/03.jpg" alt="List user" class="mda-list-item-img" />
                        <div class="mda-list-item-text">
                            <h3><a href="#">Rosemary Jimenez</a></h3>
                            <h4>Brunch this weekend?</h4>
                            <p> I&apos;ll be in your neighborhood doing errands</p>
                        </div>
                    </div>
                    <div class="mda-list-item"><img src="assets/img/user/04.jpg" alt="List user" class="mda-list-item-img" />
                        <div class="mda-list-item-text">
                            <h3><a href="#">Guy Carpenter</a></h3>
                            <h4>Brunch this weekend?</h4>
                            <p> I&apos;ll be in your neighborhood doing errands</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-primary">
                <div class="mda-list">
                    <div class="mda-list-item">
                        <div class="mda-list-item-icon"><em class="ion-android-call icon-2x"></em></div>
                        <div class="mda-list-item-text mda-2-line">
                            <h3>(123) 456 789</h3>
                            <h4 class="text-muted">Home</h4>
                        </div>
                        <div class="mda-list-item-icon pull-right"><em class="ion-android-star icon-lg"></em></div>
                    </div>
                    <div class="mda-list-item">
                        <div class="mda-list-item-icon"><em class="ion-android-phone-portrait icon-2x"></em></div>
                        <div class="mda-list-item-text mda-2-line">
                            <h3>(123) +15 321 654</h3>
                            <h4 class="text-muted">Mobile</h4>
                        </div>
                        <div class="mda-list-item-icon pull-right"><em class="ion-android-star icon-lg"></em></div>
                    </div>
                </div>
            </div>
            <div class="card bg-pink-500">
                <div class="mda-list">
                    <div class="mda-list-item">
                        <div class="mda-list-item-icon"><em class="ion-android-call icon-2x"></em></div>
                        <div class="mda-list-item-text mda-2-line">
                            <h3>(123) 456 789</h3>
                            <h4 class="text-muted">Home</h4>
                        </div>
                        <div class="mda-list-item-icon pull-right"><em class="ion-bookmark icon-lg"></em></div>
                    </div>
                    <div class="mda-list-item">
                        <div class="mda-list-item-icon"><em class="ion-android-phone-portrait icon-2x"></em></div>
                        <div class="mda-list-item-text mda-2-line">
                            <h3>(123) +15 321 654</h3>
                            <h4 class="text-muted">Mobile</h4>
                        </div>
                        <div class="mda-list-item-icon pull-right"><em class="ion-bookmark icon-lg"></em></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-heading">Bordered list with Icons &amp; text items</div>
                <div class="mda-list mda-list-bordered">
                    <div class="mda-list-item">
                        <div class="mda-list-item-icon bg-info"><em class="ion-coffee icon-lg"></em></div>
                        <div class="mda-list-item-text mda-2-line">
                            <h3>Min Li Chan</h3>
                            <h4>Brunch this weekend?</h4>
                        </div>
                    </div>
                    <div class="mda-list-item">
                        <div class="mda-list-item-icon bg-primary"><em class="ion-star icon-lg"></em></div>
                        <div class="mda-list-item-text mda-2-line">
                            <h3>Min Li Chan</h3>
                            <h4>Brunch this weekend?</h4>
                        </div>
                    </div>
                    <div class="mda-list-item">
                        <div class="mda-list-item-icon bg-deep-purple-500"><em class="ion-cloud icon-lg"></em></div>
                        <div class="mda-list-item-text mda-2-line">
                            <h3>Min Li Chan</h3>
                            <h4>Brunch this weekend?</h4>
                        </div>
                    </div>
                    <div class="mda-list-item">
                        <div class="mda-list-item-initial bg-pink-500">M</div>
                        <div class="mda-list-item-text mda-2-line">
                            <h3>Min Li Chan</h3>
                            <h4>Brunch this weekend?</h4>
                        </div>
                    </div>
                    <div class="mda-list-item">
                        <div class="mda-list-item-initial bg-green-500">S</div>
                        <div class="mda-list-item-text mda-2-line">
                            <h3>Debra Steward</h3>
                            <h4>Brunch this weekend?</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">Text tems</div>
                <ul class="mda-list">
                    <li class="mda-list-item">
                        <div class="mda-list-item-text">
                            <h3><a href="#">Min Li Chan</a></h3>
                            <h4>Brunch this weekend?</h4>
                            <p> I&apos;ll be in your neighborhood doing errands</p>
                        </div>
                    </li>
                    <li class="mda-list-item">
                        <div class="mda-list-item-text">
                            <h3><a href="#">Min Li Chan</a></h3>
                            <h4>Brunch this weekend?</h4>
                            <p> I&apos;ll be in your neighborhood doing errands</p>
                        </div>
                    </li>
                    <li class="mda-list-item">
                        <div class="mda-list-item-text">
                            <h3><a href="#">Min Li Chan</a></h3>
                            <h4>Brunch this weekend?</h4>
                            <p> I&apos;ll be in your neighborhood doing errands</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
