<div class="container-md">
    <h4 class="page-header mt0">Usage examples</h4>
    <div class="list-group">
        <div class="list-group-item">
            <div class="pull-right">
                <p><a (click)="swalDemo1();" class="btn btn-primary">Try me!</a></p>
            </div>
            <p>A basic message</p>
        </div>
    </div>
    <div class="list-group">
        <div class="list-group-item">
            <div class="pull-right">
                <p><a (click)="swalDemo2();" class="btn btn-primary">Try me!</a></p>
            </div>
            <p>A title with a text under</p>
        </div>
    </div>
    <div class="list-group">
        <div class="list-group-item">
            <div class="pull-right">
                <p><a (click)="swalDemo3();" class="btn btn-primary">Try me!</a></p>
            </div>
            <p>A success message!</p>
        </div>
    </div>
    <div class="list-group">
        <div class="list-group-item">
            <div class="pull-right">
                <p><a (click)="swalDemo4();" class="btn btn-primary">Try me!</a></p>
            </div>
            <p>A warning message, with a function attached to the &quot;Confirm&quot;-button</p>
        </div>
    </div>
    <div class="list-group">
        <div class="list-group-item">
            <div class="pull-right">
                <p><a (click)="swalDemo5();" class="btn btn-primary">Try me!</a></p>
            </div>
            <p>... and by passing a parameter, you can execute something else for &quot;Cancel&quot;.</p>
        </div>
    </div>
</div>
