<div class="container-fluid bg-full bg-pic1">
    <div class="container container-md">
        <div class="row">
            <div class="col-md-8">
                <div class="card b0">
                    <a href="#" class="card-item card-media bg-pic5"></a>
                    <div class="card-offset p0">
                        <div class="card-offset-item text-right">
                            <button type="button" class="btn-raised btn btn-default btn-circle btn-lg">25</button>
                        </div>
                    </div>
                    <div class="card-body pt0">
                        <h5>Nam blandit fringilla faucibus.</h5>
                        <div class="clearfix">
                            <div class="pull-left"><span class="mr-sm text-muted">by</span><a href="#">John</a></div>
                            <div class="pull-right"><span class="text-muted">2 days ago</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card b0">
                    <a href="#" class="card-item card-media bg-pic2"></a>
                    <div class="card-offset p0">
                        <div class="card-offset-item text-right">
                            <button type="button" class="btn-raised btn btn-default btn-circle btn-lg">25</button>
                        </div>
                    </div>
                    <div class="card-body pt0">
                        <h5>Maecenas at porta.</h5>
                        <div class="clearfix">
                            <div class="pull-left"><span class="mr-sm text-muted">by</span><a href="#">John</a></div>
                            <div class="pull-right"><span class="text-muted">2 days ago</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card b0">
            <div class="card-item">
                <a href="#" class="card-item card-media bg-pic4"></a>
            </div>
            <div class="card-offset p0">
                <div class="card-offset-item text-right">
                    <button type="button" class="btn-raised btn btn-default btn-circle btn-lg">52</button>
                </div>
            </div>
            <div class="card-body pt0">
                <h5>Vestibulum at nisl sit amet</h5>
                <div class="clearfix">
                    <div class="pull-left"><span class="mr-sm text-muted">by</span><a href="#">John</a></div>
                    <div class="pull-right"><span class="text-muted">2 days ago</span></div>
                </div>
            </div>
        </div>
        <div class="card b0">
            <div class="card-item">
                <a href="#" class="card-item card-media bg-pic6"></a>
            </div>
            <div class="card-offset p0">
                <div class="card-offset-item text-right">
                    <button type="button" class="btn-raised btn btn-default btn-circle btn-lg">1</button>
                </div>
            </div>
            <div class="card-body pt0">
                <h5>Nam blandit fringilla faucibus.</h5>
                <div class="clearfix">
                    <div class="pull-left"><span class="mr-sm text-muted">by</span><a href="#">John</a></div>
                    <div class="pull-right"><span class="text-muted">2 days ago</span></div>
                </div>
            </div>
        </div>
        <div class="card b0">
            <div class="card-item">
                <div class="card-item card-media bg-gray-darker">
                    <div class="card-media-quote"><a href="#" class="text-inherit">Phasellus ac turpis sit amet metus suscipit scelerisque quis ac velit.</a></div>
                </div>
            </div>
            <div class="card-body bb pb0">
                <p class="text-bold">Duis a neque odio, at varius elit. Pellentesque augue velit, dapibus vitae ultricies a, facilisis eu enim Nam in mauris mauris, a accumsan arcu. Integer ut convallis dui...</p>
            </div>
            <div class="card-body pt0">
                <h5>Morbi quis purus velit.</h5>
                <div class="clearfix">
                    <div class="pull-left"><span class="mr-sm text-muted">by</span><a href="#">John</a></div>
                    <div class="pull-right"><span class="text-muted">2 days ago</span></div>
                </div>
            </div>
        </div>
        <div class="card b0">
            <div class="card-item">
                <a href="#" class="card-item card-media bg-pic3"></a>
            </div>
            <div class="card-offset p0">
                <div class="card-offset-item text-right">
                    <button type="button" class="btn-raised btn btn-default btn-circle btn-lg">3</button>
                </div>
            </div>
            <div class="card-body pt0">
                <h5>Cum sociis natoque penatibus</h5>
                <div class="clearfix">
                    <div class="pull-left"><span class="mr-sm text-muted">by</span><a href="#">John</a></div>
                    <div class="pull-right"><span class="text-muted">2 days ago</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
