<div class="container container-md">
    <div class="card">
        <div class="card-heading">
            <div class="card-title">Whiteframes</div>
        </div>
        <div class="card-body">
            <div class="card shadow-z1">
                <div class="card-body">
                    <p class="mv-lg text-center">.shadow-z1</p>
                </div>
            </div>
            <div class="card shadow-z2">
                <div class="card-body">
                    <p class="mv-lg text-center">.shadow-z2</p>
                </div>
            </div>
            <div class="card shadow-z3">
                <div class="card-body">
                    <p class="mv-lg text-center">.shadow-z3</p>
                </div>
            </div>
            <div class="card shadow-z4">
                <div class="card-body">
                    <p class="mv-lg text-center">.shadow-z4</p>
                </div>
            </div>
            <div class="card shadow-z5">
                <div class="card-body">
                    <p class="mv-lg text-center">.shadow-z5</p>
                </div>
            </div>
        </div>
    </div>
</div>
